In [29]:
import pymongo
from src.oltp_construction import *
from src.olap_transformation import *
import pandas as pd
%load_ext autoreload
%autoreload 2
import json

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
# build_db()

In [14]:
client = pymongo.MongoClient()

In [15]:
client.list_database_names()

['admin', 'config', 'dota', 'local', 'sakila']

In [16]:
db1 = client.get_database('dota')

In [17]:
collection1 = db1['matches']

In [18]:
collection1.estimated_document_count()

500032

project match statistics

In [20]:
subset_match_stat(client, lmt = 5000)

new document match_stat.csv created
finished writing

,match_id,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,first_blood_time
0,2001400694,True,1450069239,898,2047,2046,63,63,83
1,2001394362,True,1450068932,1390,1983,256,63,48,2
2,2001390473,False,1450068753,1569,0,2047,0,63,143
3,2001390318,True,1450068725,1630,2047,256,63,48,1
4,2001389600,True,1450068704,1093,2047,388,63,51,138

In [9]:
subset_chat(client, lmt = 5000)

new document chat.csv created
finished writing

     match_id  start_time  time           key
0  2001400694  1450069239   289            EZ
1  2001400694  1450069239   872           : (
2  2001400694  1450069239   891  fuck my team
3  2001394362  1450068932  1391            gg
4  2001394362  1450068932  1391            gg

In [28]:
record_hero_performance(client, lmt=5000)

new document hero_performance.csv created

   hero_id match_result
0      106            w
1       36            w
2       42            w
3       20            w
4       28            w

In [30]:
heroes_fp = 'data/raw/heroes.json'

In [36]:
pd.DataFrame(json.load(open(heroes_fp))['heroes'])[['id', 'localized_name']].to_csv('data/processed/hero_id_name.csv')