In [124]:
import pymongo
from src.oltp_construction import *
from src.olap_transformation import *
import pandas as pd
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
# build_db()

In [32]:
client = pymongo.MongoClient()

In [33]:
client.list_database_names()

['admin', 'config', 'dota', 'local', 'sakila']

In [34]:
db1 = client.get_database('dota')

In [35]:
collection1 = db1['matches']

In [36]:
collection1.estimated_document_count()

500032

project match statistics

In [38]:
subset_match_stat(client, lmt = 5000)

new document match_stat.csv created
finished writing

,match_id,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,first_blood_time
0,2001400694,True,1450069239,898,2047,2046,63,63,83
1,2001394362,True,1450068932,1390,1983,256,63,48,2
2,2001390473,False,1450068753,1569,0,2047,0,63,143
3,2001390318,True,1450068725,1630,2047,256,63,48,1
4,2001389600,True,1450068704,1093,2047,388,63,51,138

In [50]:
subset_chat(client, lmt = 5000)

new document chat.csv created
finished writing

     match_id  start_time  time           key
0  2001400694  1450069239   289            EZ
1  2001400694  1450069239   872           : (
2  2001400694  1450069239   891  fuck my team
3  2001394362  1450068932  1391            gg
4  2001394362  1450068932  1391            gg

In [89]:
projection3 = {'players':1, 'radiant_win':1, '_id':0}

In [90]:
cursor3 = collection1.find({}, projection3).limit(1)
doc = None
for d in cursor3:
    doc = d

In [108]:
df = pd.DataFrame(doc['players'])
df['radiant_win'] = doc['radiant_win']
df = df[['hero_id', 'player_slot','radiant_win']]

In [110]:
def calculate_victory(row):
    if ((row['player_slot'] <= 127) and (row['radiant_win'])):
        return 'w'
    elif ((row['player_slot'] <= 127) and not (row['radiant_win'])):
        return 'w'
    else:
        return 'l'

In [112]:
df['match_result'] = df[['hero_id', 'player_slot','radiant_win']].apply(calculate_victory, axis=1)

In [117]:
hero_stat = pd.DataFrame([], columns=[i+1 for i in range(113)])

In [118]:
hero_stat

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]
Index: []

[0 rows x 113 columns]

In [122]:
hero_stat.append(df.set_index('hero_id')['match_result'].to_dict(), ignore_index=True)

,1,2,3,4,5,6,7,8,9,10,...,104,105,106,107,108,109,110,111,112,113
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
record_hero_performance(client, lmt=5000)

new document hero_performance.csv created
{50: 'l', 100: 'l', 43: 'l', 102: 'l', 59: 'l', 74: 'w', 26: 'w', 0: 'w', 29: 'w'}
{75: 'w', 35: 'w', 47: 'w', 2: 'w', 31: 'w', 0: 'l', 78: 'l', 52: 'l', 42: 'l', 56: 'l'}
{0: 'l', 15: 'l', 7: 'l', 94: 'l', 71: 'l', 104: 'w', 59: 'w', 40: 'w', 69: 'w', 44: 'w'}
{30: 'l', 106: 'l', 11: 'l', 0: 'l', 61: 'l', 51: 'w', 26: 'w', 39: 'w', 100: 'w', 42: 'w'}
{17: 'w', 15: 'w', 29: 'w', 79: 'w', 87: 'w', 50: 'l', 1: 'l', 74: 'l', 0: 'l', 55: 'l'}
{0: 'l'}
{25: 'w', 38: 'w', 1: 'w', 0: 'w', 35: 'w', 12: 'l', 104: 'l', 93: 'l', 5: 'l', 96: 'l'}
{21: 'l', 42: 'l', 38: 'l', 68: 'l', 112: 'l', 69: 'w', 100: 'w', 74: 'w', 72: 'w', 0: 'w'}
{11: 'w', 86: 'w', 72: 'w', 75: 'w', 85: 'w', 26: 'l', 94: 'l', 96: 'l', 0: 'l', 93: 'l'}
{48: 'w', 19: 'w', 68: 'w', 112: 'w', 7: 'w', 15: 'l', 0: 'l', 91: 'l', 11: 'l', 51: 'l'}
{25: 'w', 7: 'w', 50: 'w', 100: 'w', 28: 'w', 0: 'l', 19: 'l', 12: 'l', 68: 'l', 96: 'l'}
{17: 'l', 0: 'w', 97: 'w', 28: 'w', 11: 'w'}
{0: 'l', 28: 'l', 45: 'l', 3: 'l', 23: 'l', 40: 'w', 37: 'w', 16: 'w', 47: 'w', 42: 'w'}
{0: 'l'}
{6: 'l', 0: 'l', 48: 'l', 99: 'l', 47: 'l', 8: 'w', 4: 'w', 86: 'w', 7: 'w', 44: 'w'}
{11: 'w', 21: 'w', 26: 'w', 112: 'w', 8: 'w', 0: 'l', 38: 'l'}